<footer class="text-center p-2">
  <p class="text-l text-gray-900">
    Copyright &copy; 2024 Joseph Emmanuel Tamayo
  </p>
</footer>

<%- include('../items/add') %>

  </div>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/dependencyLibs/inputmask.dependencyLib.min.js"
    integrity="sha512-b+0AfljGJrModvgOwccNQNSxHHD8vDLBZ9H4bf+dZL89QDJsa2OlGU94bVs5yxLEsAL92/mUcuSp1hJJ6390eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js"
    integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.numeric.extensions.min.js"
    integrity="sha512-Uu6WrCOG6Qd45ND+6eW247Dm535Avq4o618jVkqwlBj4wxQZ31LtW4XrwWrrWBztA7Nq73cGWurCuIr3cOFrUA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const modalOverlay = document.getElementById("modal-overlay");
      const addItemButton = document.getElementById("addItemButton");
      const saveButton = document.getElementById("saveButton");
      const closeModalButton = document.getElementById("closeModalButton");
      const imageFileInput = document.querySelector('input[type="file"]');
      const priceInput = document.getElementById("itemPrice");
      let modalMode = modalOverlay.dataset.modalMode;

      Inputmask({
        alias: "currency",
        rightAlign: false,
        prefix: "₱ ",
        autoUnmask: true,
      }).mask(priceInput);

      addItemButton.addEventListener("click", function () {
        modalMode = "add";
        modalOverlay.setAttribute("data-modal-mode", modalMode);
        modalOverlay.querySelector("#modalTitle").textContent = "Add Item";
        modalOverlay.querySelector("form").reset();
        modalOverlay.querySelector("form").action = "/items";
        modalOverlay.querySelector("#imagePreview").removeAttribute("src");
        modalOverlay.classList.remove("hidden");
      });

      closeModalButton.addEventListener("click", function () {
        modalOverlay.classList.add("hidden");
      });

      // Optional: Close modal when clicking outside of it
      modalOverlay.addEventListener("click", function (e) {
        if (e.target === modalOverlay) {
          modalOverlay.classList.add("hidden");
        }
      });

      imageFileInput.addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("imagePreview").src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });

      saveButton.addEventListener("click", function () {
        const form = document.querySelector("#itemForm");
        let formData = new FormData(form);

        console.log(formData);

        const url = form.action;
        const method = form.method;

        formData.set("itemPrice", priceInput.inputmask.unmaskedvalue());

        fetch(url, {
          method: method,
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert('Item added successfully!');
              // window.location.reload();
            } else {
              alert(data.message);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    });
  </script>
  </body>

  </html>