<footer class="text-center p-2">
  <p class="text-l text-gray-900">
    Copyright &copy; 2024 Joseph Emmanuel Tamayo
  </p>
</footer>

<!-- Add Item Modal -->
<%- include('../items/add') %>

  </div>
  </div>

  <!-- Dependencies and Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/dependencyLibs/inputmask.dependencyLib.min.js" integrity="sha512-b+0AfljGJrModvgOwccNQNSxHHD8vDLBZ9H4bf+dZL89QDJsa2OlGU94bVs5yxLEsAL92/mUcuSp1hJJ6390eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js" integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.numeric.extensions.min.js" integrity="sha512-Uu6WrCOG6Qd45ND+6eW247Dm535Avq4o618jVkqwlBj4wxQZ31LtW4XrwWrrWBztA7Nq73cGWurCuIr3cOFrUA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- My own scripts -->
  <script src="/js/app.js"></script>
  
  </body>

  </html>